<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <img class="weather-pic" src="./images/weather 2.png" alt="Mafeesh a basha el kalam dah">
    </div>
    {{>footer}}
</body>

</html>